html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-cl);
  font-size: 14px;
  background-color: var(--white-cl);
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.button-cursor {
  cursor: pointer;
}

.list {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.no-bullet {
  list-style: none;
}
