.features {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.features__list {
  margin-bottom: -30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.features__item {
  max-width: 450px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 270px;
    margin-bottom: 0;
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__container {
  height: 120px;
  background-color: var(--alt-backgr);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  // @media screen and (min-width: 480px) and (max-width: 1199px) {
  //   margin-bottom: 20px;
}
