.footer {
  display: flex;
  align-items: center;
  background-color: var(--backgr-dark);
  color: var(--wh-cl);
  padding: 60px 0;
}

.footer__container {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    position: relative;
    height: 343px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.address {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    position: absolute;
    top: 0;
    left: 76px;
    width: 232px;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}
// display: flex;
// align-items: baseline;
// justify-content: space-between;

.footer__call {
  padding-top: 12px;
}

.footer__logo {
  display: block;
  text-decoration: none;
  color: var(--wh-cl);
}

.footer__logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer__link {
  display: block;
  text-decoration: none;
  color: var(--wh-cl);
  transition: color var(--standard-animation);

  &:hover,
  &:focus {
    color: var(--accent-cl);
  }
}

.footer__address--physical {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  margin-bottom: 9px;
  letter-spacing: 0.03em;
}

.footer__address {
  margin-top: 20px;
}

.footer__contact {
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-text);
  font-style: normal;
  letter-spacing: 0.03em;
}

.footer__mail {
  margin-bottom: 9px;
}

.social-media__link--footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--wh-cl);
  background-color: var(--footer-icon-bg);
  transition: background-color var(--standard-animation);

  &:hover,
  &:focus {
    background-color: var(--accent-cl);
  }
}

.social-media__icons--footer {
  display: flex;
}

.address-container {
  align-self: center;
  margin-right: 70px;
}

.footer__call {
  display: flex;
  align-items: baseline;
}

.footer__join {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    position: absolute;
    top: 0;
    right: 89px;

    width: 206px;
    text-align: center;
  }
}

.footer__text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--wh-cl);
  margin-bottom: 20px;
}

.footer__subscribe {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    width: 450px;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}
.subscribe__box {
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 1199px) {
    flex-direction: column;
  }
}

.footer__input {
  width: 100%;
  height: 50px;

  padding: 15px 16px;
  margin-bottom: 20px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  box-shadow: var(--homepage-shadow);
  font-weight: normal;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    display: inline-block;
    width: 358px;
    margin-bottom: 0;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--footer-text);
  }
}

.footer__button {
  margin-right: 10px;
}

.footer__svg {
  display: flex;
  width: 24px;
  height: 24px;
  fill: currentColor;
  transition: color var(--standard-animation);
}
