.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    transition-duration: var(--animation-duration);
    transition-timing-function: var(--timing-function);
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--alt-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: var(--timing-function1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 480px) {
    width: 450px;
    min-height: 609px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    min-height: 581px;
  }
}

.close-modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--background-color1);
  transition-property: color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-cl);
  }
}

.close-modal-btn:hover .close-modal-btn-icon,
.close-modal-btn:focus .close-modal-btn-icon {
  fill: currentColor;
}

.form {
  margin-left: auto;
  margin-right: auto;
  padding: 40px;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
  }
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-label,
.comment-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-cl);
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  margin: 0;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    outline: none;
    border-color: var(--accent-cl);
  }
}

.form-input:hover ~ .input-icon,
.form-input:focus ~ .input-icon {
  fill: var(--accent-cl);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(25%);
  display: inline-block;
  width: 12px;
  height: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  height: 120px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    outline: none;
    border-color: var(--accent-cl);
  }
}
.form-field-chek {
  padding-left: 0px;
  margin-top: 25px;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    padding-left: 14px;
  }

  .form-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
  }

  .icon-chek {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 7px;
  }
  .form-checkbox:checked + .icon-chek {
    background-image: url(../images/icon-check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--accent-cl);
    background-origin: border-box;
    border-color: var(--accent-cl);
  }

  .policy-label {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 11px;
    line-height: 1.14;
    color: var(--main-text-cl);

    @media screen and (max-width: 479px) {
      font-size: 10px;
      line-height: 1.11;
    }

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.71;
    }
  }
}

.policy-link {
  margin-left: 4px;
  color: rgba(33, 150, 243, 1);
  text-decoration: underline;

  @media screen and (max-width: 479px) {
    position: absolute;
    top: 18px;
    left: 21px;
  }
}

.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 56px;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-cl);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
