.features {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  @media screen and (max-width: 479px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 30px;
}

.feature-list__items {
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.features-list__icon-fon {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  background-color: var(--alt-background);

  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.features-list__icon {
  align-items: center;
}

.features-list__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--add-cl);
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.features-list__text {
  line-height: 1.71;
}
