.portfolio-cards {
  display: grid;
  grid-template-columns: auto;
  gap: 30px 30px;
  align-items: stretch;

  @media screen and (min-width: 480px) {
    grid-template-columns: auto;
  }
  @media screen and (min-width: 768px) {
    grid-template-columns: auto auto;
  }
  @media screen and (min-width: 1200px) {
    grid-template-columns: auto auto auto;
  }
}

.portfolio-cards__item {
  margin-bottom: 30px;
  transition-property: box-shadow;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--timing-function);

  &:nth-child(n + 7) {
    margin-bottom: 0;
  }
  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio-cards__link {
  display: block;
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:focus .overlay-text {
    transform: translateY(0%);
  }
}

.portfolio-name {
  border: 1px solid #eeeeee;
  border-top: transparent;
  padding: 20px 24px;
}

.portfolio-name__heading {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--add-cl);
}

.portfolio-name__descr {
  font-size: 16px;
  line-height: 1.87;
  font-weight: 400;
  color: #757575;
}

.portfolio-cards__description {
  position: relative;
  overflow: hidden;
  &:hover .portfolio-cards__text {
    transform: translateY(0%);
  }
}

.portfolio-cards__text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-weight: normal;
  padding: 24px;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--alt-background);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: var(--timing-function1);
}
